.pokemon-card {
    background-color: var(--color-card-bg);
    color: var(--color-input-text);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
    padding: 1rem;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.pokemon-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.pokemon-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.pokemon-name {
    font-size: 1rem;
    color: var(--color-input-text);
}