/* ===========================================================================
 * PokedexPage.css
 *
 * Spezifisches Styling für die Pokédex-Ansicht.
 *
 * Gestaltet Überschrift, Layout und optische Besonderheiten der Pokédex-Seite.
 * Sollte ausschließlich in der PokedexPage eingebunden werden!
 * ===========================================================================
 */


.pokedex-title {
    color: #f8f8f8;
    text-align: center;
    margin-bottom: 40px;
}
